.button{
    margin-left: 7px;
    margin-right: 7px;
    border: none;
    width: 220px;
    color:aliceblue;
    height: 35px;
    font-weight: 900;
    border-radius: 4px;
    border: 1PX SOLID #FFDC5A;
    background-color:black;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.button:hover{
    color: black;
    border: 1PX SOLID #FFDC5A;
    background: rgb(201,36,181);
    background: linear-gradient(90deg, rgba(201,36,181,1) 37%, rgba(19,223,217,1) 63%);
    border-radius:30px;
    text-transform: uppercase;
    letter-spacing: 20px;
}
.navbar{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 24%, rgba(21,0,255,1) 82%);
}
b{
    margin-left: 15px;
}