.thead{
     background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 24%, rgba(21,0,255,1) 82%);margin: 10px;padding: 10px;
    clip-path: polygon(0 16%, 100% 0, 100% 84%, 0% 100%);
    color: white;
}