.sidebar{
    box-shadow: 5px 0 5px -5px #333 ;
    height: 90vh;
}

.button{
    border: none;
    width: 220px;
    margin-top: 10px;
    color: white;
    height: 35px;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 24%, rgba(21,0,255,1) 82%);
    font-weight: 900;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
   
}
.button:hover{
    background: rgb(9,28,17);
background: linear-gradient(90deg, rgba(9,28,17,1) 23%, rgba(176,48,48,1) 47%);
}