h1{
    background: rgb(255,9,9);
    background: linear-gradient(90deg, rgba(255,9,9,1) 32%, rgba(0,0,0,1) 72%);
color:aliceblue;
font-weight:bolder;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
 background: rgb(255,9,9);
    background: linear-gradient(90deg, rgba(255,9,9,1) 32%, rgba(0,0,0,1) 72%); 
    letter-spacing:25px;
 color:aliceblue;
font-weight:bolder;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
font-size:45px;
}
.hi{

    background: rgb(6,246,34);
    background: linear-gradient(60deg, rgba(6,246,34,1) 28%, rgba(41,228,154,1) 65%);
    width:555px;
    height:65px;
    color:black;
    align-items: center;
    text-decoration:center;
    margin:20px auto;
    letter-spacing: 15px;
    font-weight:bolder;
    font-size:45px;
    
    
}
.hi:hover{
    text-transform: uppercase;
    border-radius:25px;
    line-break: 20px;
    font-weight:bolder;
    background: rgb(232,17,17);
background: linear-gradient(90deg, rgba(232,17,17,1) 4%, rgba(152,201,41,1) 24%, rgba(0,129,255,1) 82%);
    letter-spacing: 25px;
    font-size:xx-large;
}




/* .getquote{
    border: none;                // for parking slot
    background-color: #ececec;
    height: 50px;
    width: 300px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 8px;
} */

/*.getquotebtn:hover{
    background-color: #ffdc5a;
}*/
/* .options-primary{
    height: 20vh;
    background-color: #ffa436;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.options-secondary{
    height: 20vh;
    background-color: #ececec;
    font-size: 20px;
    color: #ffa436;
    font-weight: bold;
}
.slider {
    overflow: hidden;
    position: absolute;
    height: 624px;
    width: 1300px;
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
