<div class="row d-flex justify-content-center" style="height: 7vh">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>

            
            <img src="https://wallpapercave.com/wp/wp6896503.jpg" alt="">
            
        </div>
    </div>
    
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>

            
            <img src="https://wallpapercave.com/wp/wp6896503.jpg" alt="">
            
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>

            
            <img src=" https://wallpapercave.com/wp/wp6896503.jpg" alt="">
            
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>

            
            <img src="https://wallpapercave.com/wp/wp6896503.jpg" alt="">
            
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center" style="height: 70vh;">

    <div class="col-md-11 d-flex justify-content-center flex-column">
        
        <h1 style="text-transform: uppercase;font-size:70px;">Waiting to See your Hero on Screen ?</h1>
        <br/>
        <h2>Just Make it By an Click !!</h2>
        <button class="hi" (click)='checkSession()' >BOOK NOW</button>
        
    </div>
</div>
<!-- <br><br><br> -->
<!-- <div class="row">
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="far fa-money-bill-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Economical</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-history" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Fast</p>
    </div>
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-user-shield" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Easy Booking</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-calendar-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>24/7</p>
    </div>
</div> -->
