<div class="row mt-3  justify-content-center">
    <div class="col-md-11 card " >
        <div class="row " style=" background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 24%, rgba(21,0,255,1) 82%);margin: 10px;padding: 10px;">
            <div class="col-md-12 d-flex justify-content-center" >
                <h2 style="color:aliceblue;text-transform: uppercase;letter-spacing:45px;margin:10px">coming-soon</h2>
        </div>
    </div>  
    <hr>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="row mb-3">
              <marquee scrollamount="34"><h1 style="color:red">coming-soon!!!! coming-soon!!!!coming-soon!!!!coming-soon!!!!coming-soon!!!!coming-soon!!!!coming-soon!!!! coming-soon!!!!coming-soon!!!!coming-soon!!!!coming-soon!!!!coming-soon!!!!coming-soon!!!! coming-soon!!!!coming-soon!!!!coming-soon!!!!coming-soon!!!!coming-soon!!!!</h1></marquee>
                <div class="col-md-12 overflow-auto" style="height: 35rem;">
                  <h1 style="text-align: center;">KALKI 2898 A-D</h1>
             <marquee scrollamount="22"><img src="https://images.yourstory.com/cs/2/96eabe90392211eb93f18319e8c07a74/Image5mxv-1689948556123.jpg?w=1152&fm=auto&ar=2:1&mode=crop&crop=faces" />
              <img src="https://images.yourstory.com/cs/2/96eabe90392211eb93f18319e8c07a74/Image5mxv-1689948556123.jpg?w=1152&fm=auto&ar=2:1&mode=crop&crop=faces" />
             </marquee>     
                </div>  
                <div class="col-md-12 overflow-auto" style="height: 35rem;">
                  <h1 style="text-align: center;">LEO</h1>
                  <marquee scrollamount="22" direction="right"> <img src="https://m.media-amazon.com/images/M/MV5BOGQ2OTNmODQtNDRkOC00ODRmLTkwOWQtMmU1NjdmODQ0NTA3XkEyXkFqcGdeQXVyMTMxODA4Njgx._V1_FMjpg_UX1000_.jpg"/> <img src="https://m.media-amazon.com/images/M/MV5BOGQ2OTNmODQtNDRkOC00ODRmLTkwOWQtMmU1NjdmODQ0NTA3XkEyXkFqcGdeQXVyMTMxODA4Njgx._V1_FMjpg_UX1000_.jpg"/>
                  </marquee>    
                </div>  
                <div class="col-md-12 overflow-auto" style="height: 35rem;">
                    <h1 style="text-align: center;">MARTIN</h1>
                    <marquee scrollamount="22" direction="left">  <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202302/martin-sixteen_nine.jpg?VersionId=NGx.NTJ4IfisTHiZlb8PgoJyBcVBVIPE&size=690:388"/> <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202302/martin-sixteen_nine.jpg?VersionId=NGx.NTJ4IfisTHiZlb8PgoJyBcVBVIPE&size=690:388"/>
                    </marquee>    
                  </div>  
                  <div class="col-md-12 overflow-auto" style="height: 35rem;">
                    <h1 style="text-align: center;">TIGER 3</h1>
                    <marquee scrollamount="22" direction="left"> <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202208/salman_katrina.jpg?VersionId=GjlJ8L5J3KmmG.s9nlU2FsRV2ukufGEv"/> <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202208/salman_katrina.jpg?VersionId=GjlJ8L5J3KmmG.s9nlU2FsRV2ukufGEv"/>
                    </marquee>    
                  </div>  
            </div>  </div>  </div>
</div></div>

